.profile_animate{
    animation: border_animation 8s ease-in-out infinite 1s;
    box-shadow: inset 0 0 0 9px rgb(255, 255, 255/ 30%);
}

@keyframes border_animation{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}